* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

@media (max-width: 600px) {
    form {
        width: 90%;
    }
}

body {
    font-size: 1.7rem;
    background-color: rgb(61, 61, 204);
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

[data-theme="dark"] {
    --bg-color: #656565;
    --text-color: #e1d8d8;
}

form {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


label {
    margin-top: 10px;
}

input {
    border-radius: 15px;
    background-color: hsl(216, 15%, 60%);
    align-self: center;
    font-size: 1.5rem;
    border: none;
    padding: 2%;
    outline: solid 3px black;
    margin-top: 5px;
}

h2 {
    color: rgb(162, 162, 162);
}

input:focus {
    outline: solid 3px blue;
}

input {
    color: black;
    width: 100%;
    max-width: 300px;
}

input[name="action"] {
    background-color: #c6e1ff;
}

input[type="submit"] {
    height: 40px;
    cursor: pointer;
}

.statusMessage {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 20px auto;
    font-size: 36px;
    color: red;
    z-index: 1000;
    font-family: helvetica;
}

h2 {
    position: absolute;
    top: 100px;
    left: 18%;
    transform: translateX(-50%);
    text-align: center;
    margin: 20px auto;
    font-size: 36px;
    z-index: 999;
    font-family: helvetica;
}

#opt-container {
    display: flex;
    width: 300px;
    margin-left: 70px;
    gap: 10px;
}

#opt-container>input {
    outline: none;
    width: 50%;
    color: beige;
    margin-top: 5px;
    margin-top: 20px;
    height: 60px;
    right: 80px;
}


#opt-container>input:first-child {
    background-color: gray;
}

#opt-container>input:last-child {
    background-color: darkcyan;
}