html,
body {
  min-height: 97vh;
  user-select: none;
  background-color: var(--bg-color);
  color: var(--text-color);
}

:root{
    --bg-color: #ffffff;
    --text-color: #000000;
}

[data-theme="dark"]{
    --bg-color: #656565;
    --text-color: #e1d8d8;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  background-color: #404245;
  /* Bootstrap primary color */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 0.4rem;
}

#container {
  display: flex;
  gap: 15px;
  align-items: baseline;
}



button {
  cursor: pointer;
}

textarea {
  resize: none;
  overflow: hidden;
}

.addBtn {
  align-self: flex-start;
  margin-top: 5px;
  text-align: start;
  min-width: 200px;
  height: 40px;
  border: none;
  border-radius: 15px;
  background-color: #ffffff3d;
  color: white;
  padding: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  font-size: 15px;
}

span#btnText {
  color: white;
  font-size: 15px;
  position: relative;
  bottom: 1.5px;
}

span#plus {
  color: white;
  font-size: 20px;
}

.btnWrapper {
  display: flex;
}

.btnWrapper>button {
  padding: 8px;
  border: none;
  border-radius: 7px;
  color: white;
}

.btnWrapper>button:first-child {
  background-color: rgb(12, 102, 228);
  margin-right: 10px;
}

.btnWrapper>button:last-child {
  background-color: gray;
}

.tasklist {
  padding: 15px;
  background-color: rgb(246, 241, 241);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  min-width: 250px;
}

.tasklist h3 {
  margin: 0% 5px;
  cursor: pointer;
}

.taskStateCont {
  display: none;
  flex-direction: column;
  gap: 15px;
}

.taskStateCont>.task:first-child {
  margin-top: 5%;
}

.taskListHeader {
  display: flex;
  justify-content: space-between;
}

.taskListHeader>textarea {
  box-sizing: border-box;
  border: none;
  width: 80%;
  font-size: 14px;
  font-weight: bold;
  background-color: inherit;
  border-radius: 15px;
  min-height: 42px;
  padding: 5px;
}

.taskListHeader>textarea:hover {
  cursor: pointer;
}

.taskListHeader>textarea:focus {
  outline: solid 2px blue;
  background-color: white;
  cursor: text;
}

.delListBtn {
  position: absolute;
  top: 10px;
  left: 90%;
  font-size: medium;
}

.btnWrapper {
  position: relative;
  top: 10px;
  left: 0;
}

.newTaskBtn {
  text-align: start;
  background-color: inherit;
  border: none;
  align-self: start;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.newTaskBtn:hover {
  background-color: lightgray;
  border: solid 2px inherit;
  border-radius: 15px;
}

.newTaskBtn>span {
  color: rgb(0, 0, 0);
}

.newTaskBtn>span:first-child {
  font-size: 23px;
}

.newTaskBtn>span:last-child {
  font-size: 15px;
}

.task {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px gray;
  border-radius: 15px;
  padding: 5px;
  background-color: white;
}

.taskName {
  border: none;
  background-color: inherit;
  width: 96%;
}

.taskName {
  outline: none;
}

.viewOptions {
  width: 15px;
  height: 15px;
  cursor: pointer;
  visibility: hidden;
  position: absolute;
  left: 93%;
  top: 5px;
  z-index: 1;
  color: black;
  font-size: 20px;
}

.taskOptions {
  width: 250px;
  min-height: 170px;
  left: 90%;
  background-color: white;
  padding: 5%;
  box-sizing: border-box;
  border-radius: 15px;
  display: none;
  position: absolute;
  z-index: 2;
}

.inViewPort {
  top: 90%;
}

.outOfViewPort {
  bottom: 90%;
}

.taskOptions>button {
  border: none;
  width: 100%;
  text-align: start;
  margin-top: 10px;
  background-color: inherit;
}

.taskOptions>button:nth-child(2):hover {
  background-color: lightgray;
}

.taskOptions>button:nth-child(4) {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
}

.taskOptions>button:nth-child(7):hover {
  background-color: lightgray;
}

.line {
  position: relative;
  top: 5px;
  opacity: 0.5;
  width: 95%;
  left: 5px;
  height: 0.5px;
  background-color: gray;
}

.taskOptions>h4 {
  text-align: center;
  margin-top: 5%;
}

h4>span {
  float: right;
  margin-top: -5px;
}

.toggleBtn {
  float: right;
  color: gray;
  font-size: 12x;
}

.editStateWrap {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 5%;
  gap: 5px;
  display: none;
}

.editStateWrap>button {
  width: 100%;
  text-align: start;
  border: none;
  background-color: inherit;
}

.editStateWrap button:first-child {
  color: red;
}

.editStateWrap button:nth-child(2) {
  color: orange;
}

.editStateWrap button:last-child {
  color: green;
}

.editStateWrap button:hover {
  background-color: lightgray;
}

.currentStateSelector {
  float: right;
  color: rgb(36, 139, 198);
  font-size: 16px;
}

form {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.searchContainer {
  display: none;
  padding: 5%;
  box-sizing: border-box;
  border-radius: 15px;
  display: none;
}

.searchContainer>textarea {
  width: 100%;
  margin-left: -3%;
  min-height: 29.6px;
}

.searchContainer>textarea:focus {
  outline: solid 2px blue;
}

span {
  cursor: pointer;
  color: gray;
  font-size: small;
  padding-right: 5%;
}

#modal-container {
  height: 100%;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
}

#modal-content {
  background-color: rgb(220, 220, 220);
  width: 400px;
  min-height: 200px;
  border-radius: 10px;
  padding-left: 2%;
  box-sizing: border-box;
}

#modal-content>p {
  max-width: 100%;
}

#modal-content button {
  border-radius: 7px;
  border: none;
  padding: 2%;
  width: 40%;
}

.deleteBtn {
  background-color: rgb(232, 18, 18);
  color: white;
}

.cancelBtn {
  margin-left: 20px;
}

.button-container {
  position: relative;
  top: 10px;
}