*{
    box-sizing: border-box;
}

form{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 500px;
    height: 600px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

body{
    background-color: lightgray;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input,button{
    width: 80%;
    height: 40px;
    border-radius: 15px;
    border: 2px solid lightgrey;
    font-size: medium;
    outline-color: black;
}

#pwd-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    border: 2px solid lightgray;
    border-radius: 15px;
}

#pwd{
    width: 100%;
    border: none;
    outline: none;
}

#eye{
    width: 30px;
    height: 30px;
    align-self: center;
    box-sizing: content-box;
    padding-right: 5px;
    cursor: pointer;
}

button{
    background-color: rgb(223, 170, 70);
    cursor: pointer;
    border: none;
}

p{
    font-size: medium;
    margin-top: 10px;
}

h1{
    margin: 10px;
}

