h1{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 500px;
    height: 500px;
    border: solid px black;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

body{
    background-color: lightgray;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color:rgb(24, 24, 208);
    color: white;
    border: none;
    cursor: pointer;
}

input,button{
    width: 170px;
    height: 25px;
}

#note{
    align-self: flex-start;
    font-style: italic;
}